/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------------END RESET---------------- */


img {
    max-width:100%;
    padding-bottom:2%;
}

body {
    line-height:1.4em;
    font-family:Arial;
}

header a {
    font-size:2em;
    text-decoration: none;
    color:black;
}

header {
    font-family:"din-condensed-web", Arial;
}

h1 {
    font-family:"din-condensed-web", Arial;
    padding-bottom: 10px;
    font-size:1.8em;
}

nav {
    float:right;
}

nav li {
    float:left;
    padding-left:40px;
}

header {
    padding-top:2%;
    padding-bottom:2%;
    padding-left:4%;
    padding-right:4%;
}

section {
	padding-top:40px;
}

article {
	padding-left:4%;
    padding-right:4%;
    float:left;
}

p {
	padding-top:10px;
	padding-bottom:10px;
}

#container {
	width:30%;
}

#left {
    padding-left:4%;
    padding-right:2%;
    width:30%;
    position:fixed;
}

#left a {
    font-style:italic;
}

#right {
    position:absolute;
	width:50%;
    right:90px;
    text-align:center;
    padding-bottom:2%;
}

a:hover {
    color:teal;
}

a {
    text-decoration:none;
    color:black;
}

#navigation p {
    padding-top:100px;
    font-style:italic;
    float:left;
}

#navigation a {
    font-style:italic;
}

#hamburger {
    display:none;
}

@media screen and (max-width:500px) {
    #hamburger {
        display:block;
        text-align:right;
    }
    nav ul {
        
    }
    nav:hover ul {
        display:block;
    }
    nav li {
        float:none;
    }
}