
  body {
  	background-color: teal;
  	font-family: Athelas;
  	font-size: 14px;
  	color: white;
  	padding:30px
  }

  h1 {
  	font-family:Modern Sans;
  	font-size:24px;
  }

  h2 {
  	font-family:Modern Sans;
  	font-size:18px;
  }

footer {
	text-decoration:none;
	font-style:italic;
}