
  body {
  	background-color: teal;
  	font-family: Athelas;
  	font-size: 12px;
  	color: white;
  }

  h1 {
  	font-family:Modern Sans;
  	font-size:18px;
  }

  h2 {
  	font-family:Modern Sans;
  	font-size:16px;
  }

