
body {
  	background-color: teal;
  	font-family: Helvetica;
  	font-size: 16px;
  	color: white;
  	padding:40px;
  }

section {
  width:1000px;
  height:500px;
}

article {
  width:400px;
  height:700px;
  float:left;
  padding-left:40px;
  padding-top:20px;
  padding-right:30px;
}

h1 {
  	font-family:Modern Sans;
  	font-size:32px;
  }

h2 {
  	font-family:Modern Sans;
  	font-size:22px;
  }
h3 {
  	font-family:Modern Sans;
  	font-size:22px;
  }


footer {
	text-decoration:none;
	font-style:italic;
	font-color:white;
	padding-left:40px;
}

ol {
	width:400px;
}

ul {
	width:400px;
}
