

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family:Helvetica;
	color:#663300;
}

header {
	padding-bottom:20px;
	background-color:#FDE8D7;
	padding-left:240px;
}

#menu-wrapper {
	padding-left:240px;
	padding-top:10px;
	padding-bottom:20px;
	background-color:#663300;
}

#top-nav {
	position:absolute;
	top:20px;
	right:20px;
}

ol, ul {
	list-style: none;
	text-transform:uppercase;
	font-weight:bold;
}

nav>a {
	color:#663300;
	font-size:14px;
	text-decoration:none;
}


article {
	width:450px;
	padding-bottom:20px;
}

h1 {
	font-size:28px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:10px;
	padding-bottom:10px;
}

h2 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}

blockquote, q {
	quotes: none;
}

#page {
	padding-left:240px;
	width:500px;
}

aside {
	float:left;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#footer-wrapper {
	background-color:#663300;
	color:white;
	position:absolute;
	padding-left:240px;
	padding-right:340px;
}

#sidebar {
	position:absolute;
	right:20px;
	top:295px;
}

