

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family:Helvetica;
	color:#966247;
	font-size:14px;
}

img {
	max-width:100%;
}

header {
	background-color:#FDE8D7;
}

#header h1 {
	float:left;
	width:60%;
}

#site-wrapper {
	background-color:#FDE8D7;
	width:100%;
}

#site-header {
	margin:0 auto;
	width:90%;
	margin-left:10%;
}

#menu-wrapper {
	background-color:#966247;
	height:20px;
	padding-top:10px;
	clear:both;
}

#top-nav {
	width:30%;
	float:right;
	top:2em;
	position:absolute;
	top:3%;
	right:3%;
}

#top-nav a {
	text-decoration:none;
	color:#966247;
}

#content-wrapper {
	background-color:gray;
	clear:both;
}

#content {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

#page {
	float:left;
	width:60%;
	margin-right:5%;
}

#page p {
	color:black;
	line-height:1.4;
}

#main-menu {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

#main-menu li a {
	float:left;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	padding-right:25px;
	font-weight:bold;
	list-style: none;
}

ol, ul {
	list-style: none;
	text-transform:uppercase;
}

article {
	padding-bottom:50px;
}

h1 {
	font-size:28px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:15px;
	padding-bottom:10px;
}

h2 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}

#page h1 {
	padding-top:40px;
}

aside {
	width:500px;
}

#sidebar {
	float:left;
	width:30%;
	margin-left:5%;
}

#sidebar li a {
	text-decoration:none;
	text-transform:none;
	color:#966247;
	list-style: none;
	line-height:1.4;
}

#sidebar a {
	margin-top:10px;
}

footer {
	font-size:12px;
}

#site-footer {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

#footer-wrapper {
	background-color:#966247;
	color:white;
	clear:both;
	height:180px;
}

#footer-contact {
	float:left;
	width:30%;
	line-height:1.4;
	right-margin:2em;
}

#footer-wrapper h1 {
	font-size:20px;
}

#footer-follow {
	width:30%;
	right:3%;
	position:absolute;
}

#footer-follow li a {
	float:left;
}

#link-back a {
	text-decoration:none;
	color:white;
}

#link-back {
	clear:both;
	margin-left:10%;
	padding-top:1.5em;
}