

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}





body {
	line-height: 1;
	font-family:Helvetica;
	color:#966247;
	font-size:14px;
}

header {
	padding-bottom:5px;
	background-color:#FDE8D7;
	padding-left:240px;
}

#menu-wrapper {
	padding-left:240px;
	padding-top:10px;
	padding-bottom:20px;
	background-color:#966247;
}

#top-nav {
	position:absolute;
	top:40px;
	right:80px;
}

#top-nav a {
	text-decoration:none;
	color:#966247;
}

#main-menu li a {
	float:left;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	padding-right:25px;
	font-weight:bold;
	list-style: none;
}

ol, ul {
	list-style: none;
	text-transform:uppercase;
}

article {
	width:450px;
	padding-bottom:100px;
}

h1 {
	font-size:28px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:15px;
	padding-bottom:10px;
}

h2 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}

#page {
	padding-left:240px;
	width:500px;
}

#page p {
	color:black;
	line-height:1.4;
}

#page h1 {
	padding-top:40px;
}

aside {
	width:500px;
}

#sidebar {
	position:absolute;
	right:20px;
	top:218px;
	float:left;
}

#sidebar li a {
	text-decoration:none;
	text-transform:none;
	color:#966247;
	list-style: none;
	line-height:1.4;
}

#sidebar a {
	margin-top:10px;
}

footer {
	width:860px;
	font-size:12px;
}

#footer-wrapper {
	background-color:#966247;
	color:white;
	position:absolute;
	padding-left:240px;
	padding-right:340px;
	padding-bottom:210px;
	position:relative;
}

#footer-contact {
	width:200px;
	position:absolute;
	line-height:1.4;
}

#footer-wrapper h1 {
	font-size:20px;
}

#footer-follow {
	right:120px;
	position:absolute;
	width:400px;
}

#footer-follow li a {
	float:left;
}

#link-back a {
	position:absolute;
	left:240px;
	bottom:30px;
	text-decoration:none;
	color:white;
}
