
body {
	font-family:Georgia;
	font-size:14px;	
	padding:40px;
	page-break-after:40px;
}

header {
	text-align:center;
}


section {
	width:600px;
	float:right;
}

ul {
    float:left;
    margin:10px;
    background-color:white;
    padding:7px 14px;
    color:white;
    text-transform:uppercase;
    font-family:Georgia;
}