
body {
	font-family:Georgia;
	font-size:14px;	
	padding:40px;
	page-break-after:40px;
	width:1300px;
}

header {
	text-align:center;
}


p {
	width:600px;
	float:left;
}

li {
	page-break-after:40px;
	text-align:center;
    float:left;
    margin:10px;
    background-color:white;
    padding:7px 14px;
    color:black;
    text-transform:uppercase;
    font-family:Georgia;
    font-size:20px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-width:5px;
    border-bottom-width:5px;
    border-color:black;
}

ul {
	text-align:center;
}

nav {
	text-align:center;
}

footer {
	font-size:12px;
}