
body {
	font-family:Georgia;
	font-size:14px;	
	padding:40px;
}

section {
	width:600px;
}

ul {
	list-style:none;
    float:left;
    margin:10px;
    background-color:teal;
    padding:7px 14px;
    color:white;
    text-transform:uppercase;
    font-family:Helvetica;
}